* {
    margin: 0;
    padding: 0;
}

html,
body {
  min-width: 290px;
  color: #4d4e53;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);   
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#navbar li{
    list-style: none;
    color: #4d4e53;
    border-top: 1px solid;
    position: relative;
    width: 100%;
    transition: 0.3s;
}

#navbar li:hover{
    background-color: #00ff95;  
}



#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

a.nav-link {
    text-decoration: none;    
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;    
}

#main-doc header {
    text-align: left;
    margin: 0;
}

#main-doc article {
    margin: 0;
    padding: 20px 35px;
    font-size: .96em;
}

#main-doc article > p {
    padding-bottom: 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar ul > li:first-child {
        border-top: none;
    }

    #navbar {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        max-height: 275px;
        width: 100%;
        border: none;
        z-index: 1;
    }

    #main-doc {
        margin-left: 0;
        margin-top: 300px;
        padding: 20px;
    }
  }


